*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1100px;
    background-color: rgba(9, 6, 150, 0.158);
    border-color: black;
    height: 630px;
    justify-content: center;
    margin: auto;

}

.title{
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
    /* margin: 0px 160px 100px; */
    color: rgb(212, 139, 44);
}

.my{
    font-size: 70px;
}


.submit-option{
    height: 25px;
    width: 70px;
    border-radius: 10px;
    border-color: white;
    text-decoration: none;
    list-style: none;
    list-style: none;
}

.header-menu{
    padding-top: 20px;
    margin-left: 800px;
    display: flex;
    margin-bottom: 10px;


}
.signupButton{
    width: 100px;
    border-color: white;
    list-style: none;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(9, 6, 150, 0.158);
    height: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

.signupButton{
    width: 100px;
    border-color: white;
    list-style: none;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(9, 6, 150, 0.158);
    height: 30px;
    font-weight: bold;
    margin-bottom: 10px;

}

.img{
    width: 1100px;
    background-color: rgba(9, 6, 150, 0.158);;
    border-color: black;
    display: flex;
}

.task-line{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
}

.desciption{
 font-size: 70px;
 margin: 50px 50px;
 justify-content: center;
 text-align: center;
}

.new-image{
    height: 400px;
    width: 800px;
   
}